@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,400;1,700&family=Open+Sans:wght@300&family=Oswald:wght@200;300;400&display=swap');


*{
    font-family: 'Oswald';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    margin: 0;
    background: url('https://cdn.pixabay.com/photo/2012/04/05/01/45/baseball-25761_960_720.png') no-repeat center fixed;
}
#form{
    /* border: 1px solid black; */
    position: relative;
}
#input{
    width: 200px;
    outline: none;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: 20px;
}
button{
    display: block;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    margin-top: -20px;
    padding: 20px;
    font-size: 24px;
    border-radius: 40%;
    width: 100px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: 0.2s;
    background-color: transparent;
}
button:hover{
    /* background-color: rgba(162, 186, 11, 0.768); */
    color: rgb(253, 3, 3);
    font-size: 30px;
}
.logs {
    position: absolute;
    width: 300px;
    height: 10px;
    top: 48%;
    font-size: 24px;
}